<launch>

    <node
    pkg="telematics"
    type="CAN_monitor.py"
    name="CAN_monitor"
    output="screen"
  />
    
    <node
    pkg="telematics"
    type="bus_manager.py"
    name="bus_manager"
    output="screen"
  />
    <node
    pkg="telematics"
    type="tp_sender.py"
    name="tp_sender"
    output="screen"
  />
    <node
    pkg="telematics"
    type="tc_status.py"
    name="tc_status"
    output="screen"
  />
    <node
    pkg="telematics"
    type="tp_receiver.py"
    name="tp_receiver"
    output="screen"
  />
   <node
    pkg="telematics"
    type="request_data.py"
    name="request_data"
    output="screen"
  />
</launch>
